In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('data capstone projek bangkit 23.xlsx')
df.head()

,Suhu udara (rata-rata (C)),Kelembaban udara (rata-rata %),curah hujan minim (mm3),curah hujan max (mm3),Ketinggian\n(dataran rendah 0<200) (dataran tinggi >200),Tanaman,Daerah Penanaman
0,26.4,76.5,21,50,90.0,"cabai, bawang merah","Pacitan, ponorogo, tulungagung, blitar, lumaja..."
1,26.4,76.5,21,50,505.0,bawang putih,"Trenggalek, malang, bondowoso, ngawi, gresik, ..."
2,29.6,74.0,51,100,90.0,"cabai,Bawang merah, bawang putih","Pacitan, ponorogo, tulungagung, blitar, lumaja..."
3,29.6,74.0,51,100,1100.0,"cabai, kubis","Trenggalek, malang, bondowoso, ngawi, gresik, ..."
4,28.9,74.5,101,150,2.8,Cabai,"Pacitan, ponorogo, tulungagung, blitar, lumaja..."

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 7 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Suhu udara (rata-rata (C))                               288 non-null    float64
 1   Kelembaban udara (rata-rata %)                           288 non-null    float64
 2   curah hujan minim (mm3)                                  288 non-null    int64
 3   curah hujan max (mm3)                                    288 non-null    int64
 4   Ketinggian
(dataran rendah 0<200) (dataran tinggi >200)  288 non-null    float64
 5   Tanaman                                                  288 non-null    object
 6   Daerah Penanaman                                         288 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 15.9+ KB

In [3]:
df.describe()

,Suhu udara (rata-rata (C)),Kelembaban udara (rata-rata %),curah hujan minim (mm3),curah hujan max (mm3),Ketinggian\n(dataran rendah 0<200) (dataran tinggi >200)
count,288.000000,288.000000,288.000000,288.000000,288.000000
mean,28.059722,72.369792,104.680556,159.375000,366.040278
std,1.068218,5.952737,65.126481,85.635308,365.949794
min,24.300000,55.000000,21.000000,50.000000,2.800000
25%,27.475000,68.500000,51.000000,100.000000,50.000000
50%,28.200000,73.500000,101.000000,150.000000,205.500000
75%,28.800000,76.500000,151.000000,200.000000,637.000000
max,30.500000,84.000000,201.000000,300.000000,1100.000000

### Preprocess suhu udara

In [4]:
data = df['Suhu udara (rata-rata (C))'].values.tolist()
df['binned_avg_temp'] = pd.qcut(data, q=3)
df.head()

NameError: name 'data_series' is not defined